WebContent/wsdl/PyramidWord.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ws.pyramidword.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://ws.pyramidword.com" xmlns:intf="http://ws.pyramidword.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://ws.pyramidword.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="checkPyramidWord">
    <complexType>
     <sequence>
      <element name="inputString" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="checkPyramidWordResponse">
    <complexType>
     <sequence>
      <element name="checkPyramidWordReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="checkPyramidWordResponse">

      <wsdl:part element="impl:checkPyramidWordResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="checkPyramidWordRequest">

      <wsdl:part element="impl:checkPyramidWord" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="PyramidWord">

      <wsdl:operation name="checkPyramidWord">

         <wsdl:input message="impl:checkPyramidWordRequest" name="checkPyramidWordRequest">

       </wsdl:input>

         <wsdl:output message="impl:checkPyramidWordResponse" name="checkPyramidWordResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="PyramidWordSoapBinding" type="impl:PyramidWord">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="checkPyramidWord">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="checkPyramidWordRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="checkPyramidWordResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="PyramidWordService">

      <wsdl:port binding="impl:PyramidWordSoapBinding" name="PyramidWord">

         <wsdlsoap:address location="http://localhost:8080/PyramidWord/services/PyramidWord"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
